
:root{
    --color-white1: #fff;
    --color-white2:whitesmoke;
    --color-gray1:#cdcdcd;
    --color-gray2:#bababa;
    --color-gray3:#a7a7a7;
    --color-gray4:#939393;
    --color-gray5:#374649;
    --color-dark1: black;
    --color-div1: #D35400;
    --color-div2: red;
    --color-div3: #1ABC9C;
    --color-div4: #5DADE2 ;
    --color-div5: yellow;
    --color-div6: #3687E9 ;
    
    
}

.logo {
    height: 50px;
    
}

.btn-icon-header{
    background-color: transparent;
    border: none;
    color: var(--color-gray1);
    display: none;

}

.header{
    background-color: var(--color-gray4);
    height: 50px;
    justify-content: space-between;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
}

.header,
.navigation-header{
    display: flex;
    flex-direction: row;

}

.navigation-header{
    gap: 20px;
    
}

.navigation-header a{
    text-decoration: none;
    color: var(--color-white1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    padding-top: 28px;
    padding-bottom: 5px;
    border-radius: 8px;
    padding-left: 15px;
    padding-right: 15px;
}

.navigation-header a:hover{
    background-color: var(--color-gray5);
    transition: 0.5s;
}
