
:root{
    --color-white1: #fff;
    --color-white2:whitesmoke;
    --color-gray1:#cdcdcd;
    --color-gray2:#bababa;
    --color-gray3:#a7a7a7;
    --color-gray4:#939393;
    --color-gray5:#374649;
    --color-dark1: black;
    --color-div1: #D35400;
    --color-div2: red;
    --color-div3: #1ABC9C;
    --color-div4: #5DADE2 ;
    --color-div5: yellow;
    --color-div6: #3687E9 ;
    
    
}

.theme{
    display: flex;
    color: var(--color-white1);
    border-radius: 10px;
    background-color: var(--color-gray2);
    margin: 1em;
}

.theme2{
    display: flex;
    color: var(--color-white1);
    border-radius: 10px;
    margin: 1em;
}

.text2 {
    padding-block: 50px;
    font-size: large;   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--color-gray4);
}

.text2 h2{
    margin-bottom: 25px;
}


.theme img{
   margin: 30px;
   align-items: center;
}

.text{
    padding: 20px;
}

.text h2{
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--color-gray4);
    text-align: center;
}

.text p{
    margin: 30px;
    font-size: larger;   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--color-gray5);
}
